#total-sezioneTeoria {
    width: 95%;
    height: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    z-index:1;
    place-items: center;
}

.TheoryDiv {
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-rows: 20% 80%;
    place-items: center;
    z-index: 1;
}

#TheoryIfr {
    width: 600px;
    height: 600px;
    position: fixed;
    z-index: -1;
}


.firstTh {
    cursor: pointer;
    width: 350px;
    height: 35px;
    border: 1px solid white;
    color: white;
    background: radial-gradient(circle, rgba(134,124,124,1) 0%, rgb(120, 87, 192) 100%);
    transition: transform 0.3s ease;
}

.firstTh:hover {
    transform: scale(1.1);
    background: radial-gradient(circle, rgb(59, 49, 49) 0%, rgb(52, 2, 159) 100%);
}

.restantTh {
    display: grid;
    place-items: center;
    width: 90%;
    height: 80%;
    border: 1px solid white;
    color: white;
}
#total-sezioneTeoria2 {
    width: 95%;
    height: 70%;
    display: grid;
    grid-template-columns: 40% 48% 12%;
    z-index:1;
}
#breadcrumb {
    width: 40%;
    height: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    text-align: center;
    z-index: 1;
}

.half {
    width: 100%;
    border: 1px solid white;
    background: radial-gradient(circle, rgba(134,124,124,1) 0%, rgb(120, 87, 192) 100%);
    height: 100%;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.half:hover {
    transform: scaleX(1.1);
}

#focusedHalf {
    transform: scaleX(1.1);
    background: radial-gradient(circle, rgb(59, 49, 49) 0%, rgb(52, 2, 159) 100%);
}

.sezioneTeoriaGenerale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sezioneTeoria_1 {
    width: 500px;
    height: 500px;
    gap: 5px;
}

.navTeoria_1 {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}

.navPanel_1 {
    display: flex;
    text-align: center;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    cursor: pointer;
    width: 33.3%;
    border: 1px solid white;
    height: 100%;
    background: radial-gradient(circle, rgba(134,124,124,1) 0%, rgb(120, 87, 192) 100%);
}

.navPanel_1:focus {
    background: radial-gradient(circle, rgba(134,124,124,1) 0%, rgb(78, 16, 214) 100%);
    border: 2px solid rgb(223, 195, 223);
}

.navTeoria_1 .focus {
    background: radial-gradient(circle, rgba(134,124,124,1) 0%, rgb(78, 16, 214) 100%);
    border: 2px solid rgb(223, 195, 223);
}

#textTeoria {
    width: 95%;
    height: 90%;
    background-color: rgb(209, 176, 209);
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
    display: flex;
    text-align: center;
}

#sezioneTesto {
    font-family: garamond;
    padding: 30px;
}

#sezioneModificata {
    width: 90%;
    height: 90%;
    background-color: rgb(209, 176, 209);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 25% 25% 25%;
}

#navTeoria_2 {
    width: 100%;
    height: 90%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;

}

#sezioneTeoria_3 {
    margin-left: 20px;
    width: 120px;
    height: 500px;
}

.navPianeti_2 {
    width: 100%;
    height: 90%;
    border: 1px solid white;
    background-color: rgb(104, 65, 104);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: garamond;
    transition: filter 0.5s ease;
    cursor: pointer;
}

#sezioneTeoria_3 .navPianeti_2:hover {
    filter: brightness(80%);
}


#sezioneTeoria_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;
    
}
#immagineTeoria {
    display: grid;
    place-items: center;
    justify-content: center;
    text-align: center;
    grid-template-rows: 10% 90%;
    width: 400px;
    height: 470px;
}

.nomePianeta {
    font-family: garamond;
    font-size: 40px;
    color: white;
}

#immagineTeoria img {
    width: 100%;
    height: 100%;
}

#bottoniPianeti {
    display: flex;
    position: fixed;
    bottom: 20px;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.planetIfr {
    width: 400px;
    height: 400px;
    position: fixed;
}

.planetIfr2 {
    width: 600px;
    height: 400px;
    position: fixed;
}
