/* Corpo della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Contenitore principale per le sfere grigie */
#total_sezione_gioco {
    display: grid;
    width: 1100px; /* Larghezza totale della griglia */
    height: 100px; /* Altezza della griglia */
    top: 50%;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    grid-template-columns: repeat(9, 10%); /* 9 colonne uguali */
    justify-items: center; /* Centra le sfere orizzontalmente */
    gap: 10px; /* Distanza tra le sfere */
}

/* Contenitore di ogni sfera (per allinearle al centro) */
.sezione_gioco_vuoti {
    width: 80%;
    height: 80%;
    display: grid;
    place-items: center;
}

/* Stile delle sfere grigie (cerchi con bordo tratteggiato) */
.sezione_gioco_inserisci {
    display: block;
    width: 100%; /* Dimensione della sfera */
    height: 100%; /* Altezza uguale alla larghezza per mantenerla rotonda */
    border: 2px solid white;
    border-radius: 50%; /* Rende la sfera circolare */
    border-style: dashed; /* Bordo tratteggiato */
    background-color: blue;/* Colore di sfondo grigio */
    cursor: pointer; /* Cambia il cursore per indicare che la sfera è interattiva */
}

/* Stile delle sfere celesti (blu) */
.sphereCelestial {
    width: 80px;
    height: 80px;
    background-color: transparent; /* Celeste */
    border-radius: 50%;
    cursor: grab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: garamond
}

/* Posizionamento delle sfere celesti */
#celestial_spheres {
    display: flex;
    justify-content: center;
    gap: 40px; /* Aumenta la distanza tra le sfere celesti */
    position: fixed;
    top: 200px;
}

.fit-to-area {
    width: 100%; /* Occupa tutta la larghezza della drop-area */
    height: 100%; /* Occupa tutta l'altezza della drop-area */
    position: relative; /* Posizionamento relativo per contenere l'iframe */
}

.fit-to-area .ifrPlanetInside {
    position: absolute; /* Posizionamento assoluto all'interno del genitore */
    top: 50%; /* Sposta l'iframe al 50% in verticale */
    left: 50%; /* Sposta l'iframe al 50% in orizzontale */
    transform: translate(-50%, -50%); /* Centra perfettamente l'iframe */
    width: 90%; /* Occupa il 90% della larghezza del genitore */
    height: 90%; /* Occupa il 90% dell'altezza del genitore */
    border-radius: 50%; /* Mantiene l'aspetto arrotondato */
    transition: all 0.3s ease-in-out; /* Transizione fluida */
}


.sezione_gioco_inserisci.correct{
    background-color: green !important;
    transform: scale(1);
    
}

.sezione_gioco_inserisci.incorrect{
    background-color: red !important;
    transform: scale(1);
    
}

.sezione_gioco_inserisci.ui-draggable{
    transform: scale(2);
}


.ifrPlanetInside {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#intro-overlay {
    position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7); /* Oscuramento della pagina sottostante */
   z-index: 500;     /* L'oscuramento è dietro l'overlay */
}

#gameIntro {
    cursor: default;
    width: 700px;
    height: 390px;
    position: fixed;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(119, 70, 139);
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    background-color: rgb(66, 35, 132);
    font-family: Georgia, serif;
    z-index: 501;
}

#introText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    border: 2px solid white;
    position: absolute;
    top: 20px;
    color: yellow;
    font-size: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}


.highlight {
    color: #FF6347; /* Tomato red for highlighted words */
    font-weight: bold;
    text-transform: uppercase;
}

.highlight2 {
    color: #FF6347; /* Tomato red for highlighted words */
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.highlight2:hover {
    transform: scale(1.05);
    color: #f1a99c;
    cursor: pointer;
}

.emphasized {
    font-size: 18px;
    color: #32CD32; /* Lime green for emphasis */
    font-weight: bold;
    font-style: italic;
    
}

@media (max-width: 768px) {
    #introText {
        font-size: 14px;
    }
}

#gameStartButton {
    z-index: 501;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: rgb(77, 22, 196);
    position: fixed;
    bottom: 55px;
    border: 1px solid white;
    border-radius: 15px;
    color: #FF6347;
    transition: transform 0.4s ease;
}

#gameStartButton:hover {
    transform: scale(1.35);
    color: #f1a99c;
    cursor: pointer;
}


#gameCredits {
    cursor: default;
    width: 600px;
    height: 250px;
    position: fixed;
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(119, 70, 139);
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    background-color: rgb(66, 35, 132);
    display: none;
    font-family: Georgia, serif;
}

#gameResults {
    color: white;
    font-size: 30px;
    font-family: garamond;
    position: absolute;
    top: 5px;
}


#gameEnd {
    color: green;
    font-size: 40px;
    font-family: garamond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    letter-spacing: 6px;
    word-spacing: -3.6px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-align: center;
}

#gameEnd-2 {
    color: rgb(216, 233, 244);
    font-size: 20px;
    font-family: garamond;
    position: absolute;
    bottom: 80px;
}


#bottoniFineGioco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    bottom: 5px;
    font-family: garamond;
}

#restartGame {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    background-color: rgb(241, 64, 64);
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    transition: transform 0.15s ease, filter 0.15s ease;
}

#restartGame:hover {
    transform: scale(1.1);
    filter: brightness(150%);
}

#backHome {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 20px;
    background-color: rgb(241, 64, 64);
    clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
    transition: transform 0.15s ease, filter 0.15s ease;
}

#backHome:hover {
    transform: scale(1.1);
    filter: brightness(150%);
}